@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

body{
    font-family: 'Dosis', sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

#left{
    width: 60%;
    padding: 5px;
}

#tab{
    width: 50%;
    margin: auto;
    padding: 5px;
}

input[type="email"], input[type="submit"], .correct, textarea{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 5px;
}

textarea{
    height: 120px;
}

.correct{
    border: none;
    text-align: center;
    color: white;
    font-size: large;
}

input[type="submit"]{
    border-radius: 0px;
    border: none;
    background-color: rgb(197, 197, 197);
    visibility: hidden;
}

input[type="email"],textarea{
    background-color: rgb(240, 238, 238);  
    border-radius: 0px;
    border: none; 
}

input[type="submit"]{
    color: white;
}

#right{
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#location {
    width: 0%;
    height: 100%;
    border: none;
}

#send{
    background-color: rgb(42, 219, 42);
}

#notsend{
    background-color: rgb(252, 67, 67);
}

#loader{
    width: 100%;
    border: none;
}

::placeholder {
    color: #068da5;
    opacity: 1;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(182, 181, 181);
}

textarea{
    resize: none;
    font-size: large;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    #tab{
        width: 60%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    #tab{
        width: 70%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    #left{
        width: 60%;
    }
    #tab{
        width: 90%;
    }

    #container{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #right{
        margin-top: 40px;
        width: 60%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    #left{
        width: 80%;
    }
    #tab{
        width: 90%;
    }
    #container{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    #right{
        margin-top: 40px;
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #left{
        width: 100%;
    }
    #tab{
        width: 100%;
    }
    #container{
        flex-direction: column;
        align-items: center;
        padding: 3px;
    }

    #right{
        margin-top: 40px;
        width: 100%;
    }
}