@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

body{
    font-family: 'Dosis', sans-serif;
}

#close{
    display: flex;
    justify-content: right;
    margin: 0;
}

#close a{
    margin-right: 20%;
}


#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_div{
    width: 40%;
}


#login{
    border-collapse: collapse;
    padding: 5px;
}

#login td{
    border-bottom: solid 2px #068da5;
    padding: 10px;
    text-align: center;
}

fieldset legend img {
    max-width: 80px;
    max-height: 80px;
}

fieldset{
    border: solid 1px #068da5;
    border-radius: 15px;
    padding: 15px;
    width: 90%;
}

table{
    width: 100%;
}

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: #068da5 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    outline: none;
}

input[type="submit"]{
    width: 200px;
    background-color: rgb(240, 238, 238);
    border: none;
    height: 30px;
    padding: 5px;
}


input[type="submit"]:hover{
    background-color: rgb(182, 181, 181);
    cursor: pointer;
}

::placeholder{
    color: #068da5;
}

.error{
    color: red;
}
.success{
    color: #3AF75E;
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    #main_div{
        width: 45%;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
    #main_div{
        width: 50%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    #main_div{
        width: 60%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    #main_div{
        width: 70%;
    }
}

@media screen and (min-width: 400px)and (max-width: 600px) {
    #main_div{
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    #main_div{
        width: 90%;
    }
}