@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

body{
    font-family: 'Dosis', sans-serif;
}

.separator{
  border:solid 1px #068da5;
}

/*Beginning of the top container*/
#headerimg{
  display: flex;
  justify-content: center; 
  height: 200px;
}
/*End of the top container-->*/


/*Beginning of the navigation bar*/
.topnav {
  overflow: hidden;
  background-color: white;
  margin-left: 50px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.topnav a {
  float: left;
  color: #068da5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Yantramanav', sans-serif;
}

.topnav a:hover {
  background-color: #068da5;
  color: white;
}


.topnav .icon {
  display: none;
  }

/*End of the navigation bar-->*/


/*Beginning of slideshow container*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  }
  
  .slideshow-container img{
    max-height: 700px;
  }
/*End of slideshow container*/


/*Beginning of mySlides*/
.mySlides {display: none}
.mySlides img{width: 100%;}
/*End of mySlides*/
  
/*Beginning of previous & next arrow*/
.prevarrow, .nextarrow {
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  padding: 14px;
  background-color: white;
  color: #068da5;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px ;
  width: fit-content;
}

.prevarrow:hover, .nextarrow:hover {
    background-color: #17989D;
     color: white;
}

.nextarrow {
  left: 150px;

}

.prevarrow{
    left: 100px;
}
/*End of previous & next*/


/*Beginning of main container*/
#maincontainer{
  position: relative;
  bottom: 80px; 
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  }
/*End of main container*/


/*Beginning of upper & lower div*/
#topdiv,#bottomdiv{
  background-color: white;
  display: flex;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }  
/*End of upper & lower div*/


/*Beginning of left & right div*/
#rightdiv,#leftdiv{
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 50%;
  border: solid transparent 2px;
  }
  
  #rightdiv img,#leftdiv img{
  width: 80%;
  height: 400px;
  }
  
  #rightdiv:hover,#leftdiv:hover{
  opacity: 0.7;
  cursor: pointer;
  border: solid 2px gray;
  }
   
/*End of left & right div*/

/*Beginning of video container*/
#videocontainer{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  }
  
  #videocontainer video{
  width: 60%;
  height: 400px;
  outline: none;
  }
/*Beginning of video container*/

/*Beginning of community div*/
#community{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  }
  
  #community img{
  width: 40%;
  margin:  auto;
  }
/*End of community div*/

/*Beginning of footer container*/
#footer{
  display: flex;
  flex-direction: row;
  font-family: 'Yantramanav', sans-serif;
  background-color:#068da5;
  padding-left:90px ;
  padding-right:90px ;
}
/*End of footer container*/

/*Beginning of icons */
#icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/*End of icons */

/*Beginning of ruler div*/
#ruler{
  background-color:#068da5;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  padding-left:50px ;
  padding-right:50px ;
  padding-bottom:20px ;
}

#ruler label{
  color: transparent;
}
/*End of ruler div*/

/*Beginning of mybutton */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e46f28;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
  #myBtn:hover{
    opacity: 0.5;
    }

    .arrow {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    
/*End of mybutton */

/*Beginning of title div*/
#title{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight:100;
}

#title:hover,#title label:hover{
  cursor: pointer;
}

#title label{
  display: block;
  color: grey;
  font-weight: bold;
  font-size: medium; 
}
/*End of title div*/

/*Beginning of fade animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
/*End of fade animation*/  
  


/*Beginning media query max-width:800px*/
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon { 
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }

  .prevarrow, .nextarrow {
    font-size: 11px;
    padding: 8px;
    border-radius: 0;
}
  .nextarrow {
    left: 130px;
}

#topdiv,#bottomdiv{
  display: flex;
   flex-direction: column;
   align-items: center;

 }

 #maincontainer{
   position: relative;
   bottom: 40px; 
   width: 80%;
   margin: auto;
}

 #rightdiv,#leftdiv{
   
   width: 100%;
 }

 #rightdiv img,#leftdiv img{
   width: 100%;
   height: 200px;
 
 }


 #footer{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left:30px ;
  padding-right:30px ;
  background-color: #068da5;
}

#rightdiv img,#leftdiv img{
  height: 240px; 
  width: 60%;
 }

 #title{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 35px;
 }

.item{
padding-top: 0;

}

.i1,.i2{
width: 80%;
}
.i3,.i4{
 width: 60%;
 margin-top: 40px;
}
.i2{
margin-top: 40px;
}

#first2,#second2{
display: flex;
flex-direction: row;
margin: 10px;
margin-left: 0;
}

#myBtn {
  bottom: 20px;
  right: 10px;
}
#videocontainer video{
  height: 220px;
  outline: none;
  }

}
/*End media query max-width:800px*/

/*Beginning media query max-width:800px*/
@media only screen and (max-width: 500px) {
  .prevarrow, .nextarrow {
      font-size: 11px;
      padding: 0px;
  }
  .nextarrow,.prevarrow {
    visibility: hidden;
    transition: all 0ms linear;
  }

  #rightdiv img,#leftdiv img{
    height: 180px; 
    width: 80%;
   }

   #title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
  }

  #community img{
    width: 65%;
    margin:  auto;
    }

    #videocontainer video{
      height: 220px;
      outline: none;
      }
}
/*End media query max-width:500px*/

/*Beginning of hr & item */
hr{
  background-color:#068da5;
}

.item{
    padding:0 20px 0 20px;
    color: white;
    margin: auto;
}

.i1,.i2{
   width: 80%;
}
.i3,.i4{
    width: 80%;
 }
/*End of hr & item */



/*Beginning of bi class*/
 .bi{
  opacity: 0.5;
  color: white;
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.bi:hover{
  opacity: 1;
  cursor: pointer;
}
/*End of bi class*/


/*Beginning of a tags attributes*/
a i svg{
  margin-right: 5px;
}
p a{
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

p a:hover{
  opacity:1;
}

/*End of a tags attributes*/ 


/*End media query min-width:800px and max-width:800px*/
@media screen and (min-width: 650px) and (max-width: 1200px) { 
  #footer{
      padding-left:50px ;
  padding-right:50px ;
  }
  #title{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
   }

#rightdiv ,#leftdiv {
 width: 70%;
}

#rightdiv img,#leftdiv img{
  height: 200px;
 }

 #community img{
  width: 60%;
  margin:  auto;
  }
  .i1,.i2{
    width: 70%;
 }
 .i3,.i4{
     width: 70%;
  }
  .item{
    margin: auto;
  }
}
/*End media query min-width:800px and max-width:800px*/




@media screen and (max-width: 650px)  {

#community img{
  width: 60%;
  margin:  auto;
  }
}





